[Unit]
Description=ServerCheck
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/ServerCheck/ServerCheck.py
Restart=always
RestartSec=10s
User=pi

[Install]
WantedBy=multi-user.target

